<!DOCTYPE html>
<html>
  <head>
    <title>Cabinet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>Год:  <%= year %></div>
    <div>Месяц:  <b>'<%= month %>'</b> <%= monthStr %></div>
    <div>Колличество дней в месяце:  <%= daysOfMonth %></div>
    <div>Первый день месяца:  <%= firstDay %></div>

    <div class="title-year">  <%= year %> <%= monthStr %></div>
    
    <table>
      <tr class="header">
        <td><%= weekArr[0] %></td> 
        <td><%= weekArr[1] %></td>
        <td><%= weekArr[2] %></td>
        <td><%= weekArr[3] %></td>
        <td><%= weekArr[4] %></td>
        <td><%= weekArr[5] %></td>
        <td><%= weekArr[6] %></td>
      </tr>
      <%- table %> 
    </table>
     
  </body>
</html>
